.main{overflow-x:hidden!important;    height: auto;
    margin-top: -33px;border-radius:0 0 20px 20px;}


body,html{overflow-x:hidden!important;}

input:focus, textarea:focus, select:focus{
        outline: none!important;box-shadow:none !important;
    }
	
	.bkash{    position: relative;
    top: -15px;
}
	
	
h6{position:absolute;color:#fff;
    font-size: 24px;
    font-weight: 400;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 875px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	  
	  .right{    position: relative!important;
    top: -49px;
}

.jumbotron {
       border-radius: 0 0 20px 20px!important;
    padding: 34px 0px!important;
    background: #fff !important;
margin-top: 121px!important;}

.last {
    position: relative!important;
    top: 54px!important;
}

.btn-submit {font-weight:400!important;}

.btn-primary{font-weight:400!important;}

.kycs {
    font-size: 16px!important;
font-weight: 600;}

p{font-size: 12px;}
.rup{font-size: 16px;}
#adds {
    width: 120px!important;
    position: relative!important;
    left: 20px!important;
top: -5px!important;}

#bank-ac {
    display: none;
    margin-left: 27px!important;
    color: #6f7272!important;
    position: relative!important;
    top: -27px!important;
font-size: 14px!important;}

#bank-ifsc {
    display: none;
    margin-left: 27px!important;
    color: #6f7272!important;
    position: relative!important;
    top: -27px!important;
font-size: 14px!important;}

#bank-mail {
    display: none;
    margin-left: 25px!important;
    color: #6f7272!important;
font-size: 14px!important;}

#com-kyc {  font-size: 13px!important;
    width: 111px!important;
    padding: 0px!important;
    height: 27px!important;
    white-space: nowrap!important;}

.amount{margin-top: 28px!important;font-size:17px!important;
}

.value1 {
    margin-left: 2px !important;
font-size: 10px;}

.value2 {
    margin-left: 86px !important;
font-size: 10px;}


.b-account {
    margin-bottom: 26px;
    margin-top: -30px;
}

#com-kyc {
    width: 146px;
    height: 34px;
    position: relative;
    /* margin-top: -1px; */
    white-space: nowrap;
top: -1px;}
	  
	  #add {
     margin-left: 0px;font-size:17px!important;
    padding: 3px 44px!important;
    position: relative!important;
    left:-107px!important;
	    top: -24px!important;
    font-weight: 400;
    font-size: 20px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%);
    margin-top: 20px;
	  border: none;}
	  
	.flx1 {
    display: flex;
    margin-left: 27px!important;    margin-top: -11px;}
		.flx2 {
    display: flex;    position: relative;
   
    top: -5px;
    margin-left: 27px!important;}
	
	
		.flx3 {
    display: flex; position: relative;
   
    top: -13px;
    margin-left: 27px!important;}
	
	#a-name {
    position: relative!important;
    left: 70px!important;
    width: 46% !important;}
	
	#confirm{width: 46% !important;}
	
	#ifsc {
    position: relative!important;
    left: 55px!important;
    width: 46%!important;}
	
	  .display {
    display: flex;
    margin-left: 26px!important;
	  margin-top: 11px;}
  
  h4{font-size:16px;}
  .left {
    position: relative!important;
    left: -71px!important;
    top: -98px!important;
}


.ujj{    position: relative!important;
    left: -15px!important;top: -45px!important;
}
.up{    font-size: 14px!important;}
.bankk{    font-size: 14px!important;}

#add-upi {
    width: 120px;
    height: 34px;
    white-space: nowrap;
    font-size: 13px!important;
    position: relative!important;
left:74px!important;}
#add-bank {
    width: 120px;
    height: 34px;
    white-space: nowrap;
    font-size: 13px!important;
    position: relative!important;
    left: -9px!important;
    top: -4px!important;

}
.txt {
    font-size: 14px!important;
    font-weight: 400;
    padding: 5px;
    position: relative;
top: 3px;}

.bg-light {
    background: #dbdbdb!important;
    position: relative!important;
    top: -64px!important;
    height: 40px;}

.upload-options label::after {
    content: '🖼️';
    font-family: 'Material Icons';
    position: absolute!important;;
    font-size: 20px!important;;
    color: #e6e6e6;
    top: calc(50% - 2.5rem)!important;
    left: calc(56% - 1.25rem)!important;;
    top: 5px!important;;
    z-index: 0;}
	
h6 {
    position: absolute;white-space:nowrap;
    color: #fff;
    font-size: 14px;
    font-weight: 400;}
	
.in{    margin-top: 5px !important;}
.form-control{height:26px!important;padding: 0px 19px!important;
  }

  .mts{margin-top: -68px;margin-left:-23px;}
  
  legend {
    display: block;
	    position: relative!important;    left: -49px !important;
    top: -61px!important;
    width: 100%;
    font-size: 16px!important;}
	
	label {
    font-weight: 500;
    color: 122228;
    font-size: 13px!important;
    color: #122228;}
  
  .btn-primary {
    position: relative!important;
    font-weight: 600;    padding: 3px 37px!important;
    font-size: 20px!important;    top: 14px!important;
 
  }
	
  	
	.form-control {
    width:76%!important;
}

.js--image-preview {
    height: 42px!important;
}
.wrapper {
    width: 124px!important;}
	
	.box {
    display: block;
    height: 68px!important;
    width: 132px!important;}
	
	.left{    position:relative!important;left: -100px !important;}

  
	
	
	
	
	.main{width:100%!important;max-width:900px !important; margin-top: -51px!important;    height: 409px;background:#fff;
}
	
.kyc{height:40px!important;}
	h3 {
    font-size: 23px!important;
    margin-top: 4px!important;
    color: #fff;}


}

@media only screen 
  and (min-device-width: 787px) 
  and (max-device-width: 799px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	  
	  #add-bank {
    width: 120px;
    height: 34px;
    white-space: nowrap;
    font-size: 14px;
    position: relative!important;
    left: -28px!important;
	  top: -6px!important;}
	  
	  .upid{position: relative;
	  left: -23px;}
	  
	  .form-control {
    width: 47%!important;
}
	  #adds {
    width: 120px!important;
    position: relative!important;
    left: -17px!important;
	  top: -5px!important;}
	  
	  
	  
  }
  
  
@media only screen 
  and (min-device-width: 730px) 
  and (max-device-width: 786px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	  
#adds {
       width: 119px!important;
    position: relative!important;
    left: -13px!important;
    top: -5px!important;
}
  
  .upid{position: relative;
    left: -22px;
}

.form-control {
    width: 48%!important;
}
  
  
  }
  
  
  @media only screen 
  and (min-device-width: 831px) 
  and (max-device-width: 844px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .btn-primary {
    position: relative!important;
    font-weight: 600;
    padding: 3px 37px!important;
    font-size: 22px;
    top: 14px!important;
}
  
  #add-bank {
    width: 120px;
    height: 34px;
    white-space: nowrap;
    font-size: 14px;
    position: relative!important;
    left: -9px!important;
  top: -6px!important;}
  
  #adds {
    width: 120px!important;
    position: relative!important;
    left: -10px!important;
  top: -5px!important;}
  
  
  .form-control {
    width: 42%!important;
}

.upid{    position: relative;
left: -21px;}
  
  }
  
  
    @media only screen 
  and (min-device-width: 844px) 
  and (max-device-width: 875px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	  
	   .form-control {
    width: 42%!important;
}

.upid{    position: relative;
left: -21px;}
  
  #adds {
 width: 116px!important;
    position: relative!important;
    left: -15px!important;
    top: -5px!important;
}
  
  .btn-primary {
    position: relative!important;
    font-weight: 600;
    padding: 3px 37px!important;
    font-size: 22px;
    top: 14px!important;
}
  
  #add-bank {
    width: 120px;
    height: 34px;
    white-space: nowrap;
    font-size: 14px;
    position: relative!important;
    left: -9px!important;
  top: -6px!important;}
  
  
  }

@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 830px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	  
	  #adds {
    width: 117px!important;
    position: relative!important;
    left: -17px!important;
    top: -5px!important;
}
	  
	  .form-control {
    width: 45%!important;
}

.upid{    position: relative;
    left: -21px;
}
	  #add-bank {
    width: 120px;
    height: 34px;
    white-space: nowrap;
    font-size: 14px;
    position: relative!important;
    left: -9px!important;
	  top: -5px!important;}
	  
	  .btn-primary {
    position: relative!important;
    font-weight: 600;
    padding: 3px
 37px!important;
    font-size: 22px;
    top: 14px!important;
	}

  }

@media only screen 
  and (min-device-width: 640px) 
  and (max-device-width: 710px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.btn-primary {
    position: relative!important;
    font-weight: 600;
    padding: 3px 37px!important;
    font-size: 22px;
    top: 14px!important;

}

#add-bank {
    width: 120px;
    height: 34px;
    white-space: nowrap;
    font-size: 13px!important;
    position: relative!important;
    left: 150px!important;
top: -33px!important;}

  }
  
  @media only screen 
  and (min-device-width: 743px) 
  and (max-device-width: 799px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  
  .btn-primary {
    position: relative!important;
    font-weight: 600;
    padding: 3px
 37px!important;
    font-size: 22px;
    top: 14px!important;
}
  
  #add-bank {
    width: 120px;
    height: 34px;
    white-space: nowrap;
    font-size: 14px;
    position: relative!important;
    left: -9px!important;
  top: -4px!important;}
  
  
  
  
  }

@media only screen and (min-width:400px)and (max-width:411px) {
.left {
    margin-left: -40px!important;
    margin-top: -46px;
}
.btn-primary {
    position: relative!important;
    font-weight: 600;
    font-size: 22px;
    left: -61px!important;}
}

@media only screen and (min-width:711px)and (max-width:720px) {

#add-bank {
    width: 120px;
    height: 34px;
    white-space: nowrap;
    font-size: 13px!important;
    position: relative!important;
    left: 150px!important;
top: -33px!important;}

}



@media only screen and (max-width: 576px) {
.left{margin-left:-42px;margin-top: -61px;}
.in{margin-top: 8px!important;}

.form-control {
    width: 85%;
    height: 34px !important;
    padding: 0 9px !important;
}
h6 {
    position: absolute;
    color: #fff;
    font-size: 15px;
    font-weight: 400;}

.kyc {
    margin-top: -104px;
    border-radius: 20px 20px 0 0;
    height:45px!important;
}
    .mts{margin-top: -14px;}

h4{font-size:19px;}


.js--image-preview::after {
    content: "Front Image";
    font-family: 'Material Icons';
    position: relative;
    font-size: 17px!important;
    color: #fff;
    top: calc(117% - 3rem)!important;
    left: calc(44% - 2.25rem)!important;
    z-index: 0;}

.main{    margin-top: -6px;}

label{font-size:14px!important;}


.wrapper {
    width: 124px!important;
    border-radius: 10px;
    display: flex;
    border: 2px dashed #000;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -25px;
    align-items: center;
    justify-content: center;
}
.box {
    display: block;
    height: 74px!important;
    width: 170px!important;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}
.js--image-preview {
    height: 55px!important;
    width: 100%!important;}
	
	.js--image-previews {
    height: 52px!important;
    width: 100%!important;}
	
	legend {  position: relative!important;
    left: -17px!important;
    display: block!important;
    width: 100%!important;
    font-size: 17px!important;}
	
	.ujj {
    position: relative!important;
    left: 10px!important;top:-33px!important;
}
	
	.btn-primary {
    position: relative!important;
    font-weight: 600;
    font-size: 22px;
    left:126px!important;
    top: 27px!important;
    background: linear-gradient(to bottom,#fad961,#d8af1a) !important;
    padding: 7px 47px!important;
    margin-left: -10px !important;
    color: #000!important;}
	
	h3 {
    font-size: 22px!important;}
.jumbotron {
    border-radius: 20px;
    padding: 103px 0px;
    background: #fff !important;
    margin-top: -8px!important;}
	
	.main{padding: 25px;}
	
	.right{margin-top: -31px;}
	
	input[type=text] {
font-size:12px;
}
.main{height:auto!important;}

.last {
    position: relative;
top: 85px;}

 
}






h4{position: relative;font-weight:500;
    top: 46px;
    left: 63px;}
.form-control{width:42%;}
.ujj{    position: relative;
    left: 60px;}
	
	.upl{grid-gap: 26px;
    margin-left: 65px;
    display: flex;
    margin-top: 87px;}
	
legend {
    display: block;
    width: 100%;
    font-size: 27px;
    position: relative;
    top: -18px;
    color: #6f7272 !important;
    left: -38px;
    color: #6f7272;
    font-weight: 600 !important;}


h3{font-size: 37px;
    margin-top: 8px;
    color: #fff;}
	
::placeholder{color:#8a96b1 !important;font-size:16px!important;}
select option{ color:#8a96b1 !important;font-size:16px!important;}
select{ color:#8a96b1 !important;font-size:16px!important;}
.kyc{margin-top: -104px;    border-radius: 20px 20px 0 0;
    height:65px;}

label {
    font-weight: 400;
       font-size: 22px;
    white-space: nowrap;
    color: #122228;
}

.doc{margin-top:-235px;width: 48%;
    margin-left: 25px
	}
	
	.proof{width: 48%;
    margin-left: 25px
	}
	
	.custom-file-label, .custom-select {border: 1px solid grey;}
	
	.form-control{border: 1px solid grey!important;}
	.btn-primary{    position: relative;font-weight:400;font-size:23px;
   border:none;box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%);
    top: 38px;background: linear-gradient(to bottom,#fad961,#d8af1a) !important;    padding: 10px 58px;color:#000!important;
	
	
}

body{background:grey;}
	
	
.jumbotron {    border-radius: 20px;
    padding: 104px 0px;background:#fff !important;margin-top:50px;
}




.wrapper {width:188px;border-radius:10px;
  display: flex;    border: 2px dashed #000;
  flex-direction: row;
  flex-wrap: wrap;
      margin-top: -27px;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: inherit;
  margin: 0 0 0.75em 0;
  color: #728c8d;
  text-align: center;
}
.box {
  display: block;
      height: 130px;
    width: 170px;
 

  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
.upload-options {

  background-color: #6f7272;
position: relative;
    height: 131px;
 
    cursor: pointer;
    overflow: hidden;
    margin-top: -93px;
    text-align: center;
  transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
 
}
.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-options label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.upload-options label::after {
  content: '';
  font-family: 'Material Icons';
  position: absolute;
  font-size: 25px;
  color: #e6e6e6;
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);
  top:0;
  z-index: 0;
}
.upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}
.js--image-preview {
  height: 93px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('');
  background-color: #6f7272;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.js--image-preview::after {
  content: "";
  font-family: 'Material Icons';
  position: relative;
  font-size: 26px;
  color: #fff;
 top: calc(78% - 3rem);
    left: calc(33% - 2.25rem);
  z-index: 0;
}
.js--image-preview.js--no-default::after {
  display: none;
}
.js--image-preview:nth-child(2) {
  background-image: url('http://bastianandre.at/giphy.gif');
}
i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}
.drop {
  display: block;
  position: absolute;
  background: rgba(95, 158, 160, 0.2);
  border-radius: 100%;
  transform: scale(0);
}
.animate {
  animation: ripple 0.4s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}


h2{background: #122228;
    position: relative;
    top: 57px;
    font-size: 24px;width: 1140px;
    margin-left: -15px;
    color: #fff;
	margin-top:20px;
    padding: 10px 0px;}
	
	
	
	/*cashout page*/
	
	button:focus{border:none;outline:none;box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%)!important;}
	
	.bg-dark{background:#122228 !important;}
	.custom_radio{
   margin: 20px;margin-top:1px;
}
.custom_radio input[type="radio"]{
  display: none;
}
.custom_radio input[type="radio"] + label{
  position: relative;
  display: inline-block;
  padding-left: 1.5em;
  margin-right: 2em;
  cursor: pointer;
  line-height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom_radio input[type="radio"] + label:before,
.custom_radio input[type="radio"] + label:after{
  content: '';
  position: absolute;border: 1px solid black;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  color: white;
  font-family: Times;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.custom_radio input[type="radio"] + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em white;
}
.custom_radio input[type="radio"] + label:hover:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;border: 1px solid black;
  box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
}
.custom_radio input[type="radio"]:checked + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;border: 1px solid black;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em grey;
}

.display{display:flex;margin-left:30px;margin-top:11px;}

.btn-submit{font-weight: 400;
    font-size: 16px;
	box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%);
 margin-left:11px;
 border:none;
 border-radius:5px;
    background: linear-gradient(to bottom,#fad961,#d8af1a) !important;
    padding: 1px 22px;
 
    color: #000!important;}
	.flx1{display:flex;margin-left:32px;}
		.flx2{display:flex;margin-left:32px;margin-top:-6px;}
			.flx3{display:flex;margin-left:32px;margin-top:-6px;}
	.bg-light{background:#dbdbdb!important;position:relative;top:-28px;}
	.txt{font-size:26px;font-weight:400;padding:5px;
    position: relative;
    top: 7px;
}
	
	#a-name{position: relative;
    left: 106px;
    width: 60%;
height:44px;
}

#confirm{    position: relative;
    left: 21px;  width: 60%;height:44px;
}
#ifsc{    position: relative;
    left: 81px;  width: 60%;height:44px;
}
	
.b-account{margin-bottom:26px;}	

.up{    font-size: 25px;
    font-weight: 600;}
	
	.bankk{font-size: 25px;
    font-weight: 600;}
	p{color:#5d6060;}
	h5{margin-top: -6px;}
	
	.amount{margin-top:65px;}
	.value1{margin-left:0px;}
	.value2{margin-left:90px;}
	::placeholder{color:#6f7272!important;font-size:22px !important;}
	.rup{margin-top: -15px;}
	
	#add{    margin-left: 269px;    padding: 5px 64px;    font-weight: 400;
    font-size: 20px;box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%);
    margin-top: 20px;border:none;    position: relative ;
    left: -23px;}
	
	.kycs{font-size: 20px;
    font-weight: 600;
}
	
	#add-upi{    width: 120px;
    height: 34px;white-space:nowrap;font-size:14px;    position: relative;
    left: 115px;}

#add-bank{    width: 120px;
    height: 34px;white-space:nowrap;font-size:14px;    position: relative;
    left: -30px;top:-10px;}


	#adds{    width: 120px;    position: relative;
    left: 20px;

    height: 34px;white-space:nowrap;font-size:14px;}
	.display{display:none;}
	
	.displays{display:none;}	
	.last{position:relative;top:70px;}
	.main-head{display:flex!important;justify-content:center;}
	#com-kyc{    width: 146px;
    height: 34px;
    white-space: nowrap;}
	
	#bank-mail{display:none;margin-left:37px;color:#6f7272;}
		#bank-ac{display:none;margin-left:37px;color:#6f7272;    position: relative;
    top: -27px;
}
				#bank-ifsc{display:none;margin-left:37px;color:#6f7272;    position: relative;
    top: -24px;
}


@media only screen and (max-width: 600px) {
	
	#bank-mail {
    display: none;
    margin-left: 5px;
    font-size: 14px;
    color: #6f7272;}
	
	#bank-ac {
    display: none;
    margin-left: 5px;
    font-size: 14px;
    color: #6f7272;
    position: relative;
    top: -27px;}
	
		#bank-ifsc {
    display: none;
    margin-left: 5px;
    font-size: 14px;
    color: #6f7272;
    position: relative;
    top: -27px;}
	
	
	.kycs {
    font-size: 18px;}
	
.txt {
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    white-space: nowrap;
    position: relative;
top: 3px;}


#com-kyc {
    width: 86px;
    height: 25px;
    font-size: 10px;
    padding: 0px 0px;
    margin-top: 7px;
white-space: nowrap;}

.bg-light {
    background: #dbdbdb!important;
    position: relative;
    top: -52px;
}
	
	#add-upi {
    width: 94px;
    height: 30px;
    white-space: nowrap;
    padding: 0;
    font-size: 12px;
    position: relative;
    left: 65px;
    top: -3px;}
	
		#add-bank {
    width: 94px;
    height: 30px;
    white-space: nowrap;
    padding: 0;
    font-size: 12px;
    position: relative;
     left: -18px;
    top: -8px;}
	
	
	.no-add {
    width: 94px!important;
    height: 30px!important;
    white-space: nowrap;
    padding: 0;
    font-size: 12px;
    position: relative!important;
 left: 18px!important;
    top: -21px!important;
}
	#add-pay {
    width: 94px!important;
    height: 30px!important;
    white-space: nowrap;
    font-size: 13px!important;
    position: relative!important;
    left: 29px!important;
    top: -20px!important;
}
	
	
	
	
	.flx1{margin-left:3px;}
	.flx2{margin-left:3px;}
	.flx3{margin-left:3px;}
	::placeholder{font-size:12px!important;}
	
	#a-name {
    position: relative;
    left: 65px;
    top: -7px;
    width: 39%;
    height: 44px;
}
#confirm {
    position: relative;
    left: 12px;
    width: 39%;
    top: -7px;
    height: 44px;
}

#ifsc {
    position: relative;
    left: 49px;
    top: -7px;
    width: 39%;
height: 44px;}


#add {
    margin-left: 269px;
    padding: 5px 64px;
    font-weight: 400;
    padding: 3px 34px;
    font-size: 16px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%);
    margin-top: 5px;
    border: none;
    position: relative;
left: -126px;}

#adds {
    /* width: 120px; */
    position: relative;
    width: 94px;
    height: 30px;
    white-space: nowrap;
    padding: 0;
    font-size: 12px;
left: 20px;}

.upid{    margin-left: -25px;}

.value1 {
    margin-left: 1px;
font-size: 12px;}

.value2 {
    margin-left: 32px;
font-size: 12px;}

.btn-primary {
    position: relative;
    font-weight: 400;
    font-size: 19px;
    left: 176px;
    border: none;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%);
    top: 65px;
    background: linear-gradient(to bottom,#fad961,#d8af1a) !important;
    padding: 10px 58px;
    margin-left: -250px !important;
color: #000!important;}

.rup {
    margin-top: -15px;
font-size: 16px;}

.b-account {
    
    margin-top: -26px;
}

.amount {
    font-size: 19px;
    margin-top: 38px;
}
	
	
}


@media only screen and (max-width: 420px)and (min-width: 410px) {

.btn-primary {
    position: relative;
    font-weight: 400;
    font-size: 19px;
    left: 176px;
    border: none;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%);
    top: 65px;
    background: linear-gradient(to bottom,#fad961,#d8af1a) !important;
    padding: 10px 58px
px
;
    margin-left: -255px !important;
color: #000!important;}

}


@media only screen and (max-width: 354px) and (min-width: 340px) {
#add-bank {
    width: 94px;
    height: 30px;
    white-space: nowrap;
    padding: 0;
    font-size: 12px;
    position: relative!important;
    left: 140px!important;
    top: -34px!important;
}

}


@media only screen and (min-width: 390px) and (max-width: 409px){
.btn-primary {
    position: relative;
    font-weight: 400;
    font-size: 19px;
    left: 176px;
    border: none;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%);
    top: 65px;
    background: linear-gradient(to bottom,#fad961,#d8af1a) !important;
    padding: 10px 58px;
    margin-left: -248px !important;
color: #000!important;}

}


@media only screen and (min-device-width: 730px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
#adds {
    width: 119px!important;
    position: relative!important;
    left: -6px!important;
top: -5px!important;}

}

